/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Typography */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
}

p {
    margin: 0 0 1rem 0;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: left;
}

/* Navigation */
nav {
    background: #444;
    color: #fff;
    width: 100%;
    height: 50px;
    z-index: 1000;
    top: 0;
    left: 0;
    position: fixed;
    
}

.nav-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0rem;
    text-align: left;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; */
       
}

.nav-title {
    display: flex;
    
}

.nav-logo{
    display: inline;
    float: left;
    width: 35px;  /* Adjust the width as needed */
    height: 35px; /* Adjust the height as needed */
    margin-top: 6px;
    margin-right: 15px; /* Add space between the logo and the title */


}
.nav-content h1{
    float: left;
    font-size: 25px;
    padding-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.home-button {
    padding: 0.5em 1em;
    background-color: #1b5881;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 450px; /* Pushes the home button to the right */
    

    display: inline-block;
    padding: 0.5rem 1rem;

    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.home-button:hover{
    text-decoration: none;
    color: white;
    background-color: #6093ca;
}

.banner {
    max-width: 100%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 0px rgba(0,0,0,0.1);
    background-color: #3a6f92;
}

.banner h1{
    margin: auto;
    padding: 90px;
    color: #ffffff;
    font-size: 52px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e1c158;
}

.banner img{
    overflow: hidden;
    position: relative;
    margin: auto;
    padding: auto;
    size: 100%;
}

.menu-area {
    max-width: 100%;
    height: 50px;
    margin-top: -20px;
    float:none;
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.1);
    background-color: #ffffff;
}

.menu-area-content {
    width: 960px;
    float:none;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #79a283;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 20px;
}

.menu-area-content ul{
    list-style:none;
    margin-top: 10px;
    text-align: center;
}

.menu-area-content ul li{
    float: left;
    max-width:68em;
    text-align: center;
    margin:auto;
    
}

.menu-area-content ul li a{
    display: block;
    float: none;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    position: relative;
    padding: 10px 20px 10px 20px;
    
}

.menu-area-content ul li a:hover{
    background: #e1c158;
}

/* Container */
.container, .course-area, .album .container {
    max-width: 960px;
    margin: 0rem auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.course-area {
    background: #ffffffbc;
    height: auto;
}

.course-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
}

.card-area {
    flex: 1 1 calc(33.333% - 20px);
    margin: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #e5e4e4;
}

.card-img-area {
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.btn-primary{color:#fff;
    background-color:#007bff;
    border-color:#007bff
}

.btn-primary:hover{color:#fff;
    background-color:#0069d9;
    border-color:#0062cc
}

.btn-primary:focus{box-shadow:0 0 0 3px rgba(0,123,255,.5)
}

.btn-primary:disabled{background-color:#007bff;
    border-color:#007bff}
    

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2980b9;
}

/* Footer */
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    
    float: left;
    overflow: hidden;
    width: 100%;
    height: 40px;
    position: relative; /* Ensure footer is positioned in normal document flow */
    z-index: 500; /* Ensure footer is above the sidebar but below content */
}

.footer p{
    margin-top: 8px;
}


.side-bar-area{
    background-color: #1b5881;
    
    text-align: left;
    width: 350px;
    float: left;

    height: calc(100vh);
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position:fixed;
    top: 50;
    left: 0;
    overflow-x:auto; /* Ensure vertical scrollbar appears if needed */
    overflow-y:auto;
    
    
}

.side-bar-area-content img{
    height: 100px; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}


.side-bar-area-content{
    background: inherit;
    width: 100%;
    
}

.side-bar-area-content ul{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    list-style: none;
    text-decoration:none;
    text-decoration: none;
    font-style:italic;
    

}

.side-bar-menu ul {
    display: none;
}

.side-bar-area-content ul li{
    background: inherit;
    margin-top: -10px;
}

.side-bar-area-content ul li a{
    display: block;
    float: none;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    font-weight: none;
    position:relative ; 
    padding: 10px;
    border-radius: 10px ;
}

.side-bar-area-content ul li a:hover{
    background: #e1c158;
    color: #333;
}

.side-bar-area-content ul li ul{
    background:inherit;   
    margin-top: 0px;
}

.side-bar-area-content ul li ul li{
    width: inherit;     
}

/* .side-bar-area-content ul li ul li a:hover{
    color: #333;
} */

.side-bar-menu .expandable > a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5em; /* Add some padding to the right for spacing */
    color: #f4f4f4;
}

.side-bar-menu .expandable > a::after {
    content: ' ▼';
    font-size: 0.8em;
    
}

/* .side-bar-menu .expandable > a::after:hover {
    color: #333;
    
} */

.side-bar-menu .expandable.expanded > a::after {
    content: ' ▲';
    font-size: 0.8em;
}
.side-bar-menu .expandable.expanded ul {
    display: block;
    
}

.side-bar-menu .expandable.expanded a {
    color: #f4f4f4;
    
}

.side-bar-menu .expandable.expanded a:hover {
    color: #333;
    
}

/* .side-bar-menu .expandable.expanded a:active {
    background-color: #e1c158;
    color: #333;
    
} */

/* Add styles for active menu item */
.side-bar-area-content ul li ul li a.active {
    background-color: #e1c158; 
    color: #333; 
    border-radius: 10px;
    /* font-weight: bold; */
} 





.tutorial-area{
    margin-left: 350px;
    margin-right: 50px;
    background: #f8f8f8;
    color: #000000;
    text-align: left;
    width: calc(100% - 350px); /* Space for sidebar and margin */
    float: none;
    overflow: auto;
    height: auto;
    padding: 100px 50px 50px 50px;
    
    min-height: 100vh; /* Ensure the height is at least the viewport height */
    overflow-y: auto;
    
}

.tutorial-area-content{
    float: none;
    
}

